h1, h2, h3 {
    font-family: serif;
}

#obd {
    color: white;
    background-color: red;
    margin: 1em 0 1em 0;
    padding: 1em;
}

header.my-main-header {
    display: flex;
    align-items: center;
    border-bottom: 1px dotted black;
}

header.my-main-header > h1 {
    flex-grow: 1;
    text-shadow: 1px 1px 0 #ffffff, 2px 2px 0 #000000;
    transform: rotate(-2deg);
    margin-top: 0;
    margin-bottom: 0.2em;
    text-align: center;
    font-weight: 900;
}

footer.my-main-footer {
    border-top: 1px dotted black;
    font-size: small;
    color: gray;
}

.my-article section > p:first-child:first-letter {
    font-size: x-large;
    /* border: 1px solid red; */
    margin-right: 0.4em;
    /* margin-top: -0.1em; */
    float: left;
}

.my-article footer {
    color: gray;
}

.my-article a {
    text-decoration: none;
}

.my-article a:hover {
    text-decoration: underline;
}

.topmenu {
    background-color: brown;
    color: whitesmoke;
    padding: 10px;
    transition: all 0.5s;
    position: absolute;
    box-shadow: 3px 3px 6px gray;
    width: 230px;
}

.topmenu a:hover {
    text-decoration: underline;
}

.topmenu a {
    color: whitesmoke;
    text-decoration: none;
}

.topmenu_aside {
    box-shadow: 0px 0px 0px;
}

.topmenu > ul.topmenu-tree {
    padding-left: 0;
}

.topmenu-tree {
    list-style-type: none;
}

span.topmenu-tree_ctrl-collapsed::before {
    content: "[+]\a";
}

span.topmenu-tree_ctrl-expanded::before {
    content: "[-]\a";
}

.topmenu-tree_node-collapsed {
    display: none;
}

.topmenu .selected {
    color: yellow;
}


@media (min-width: 601px) {
    body {
	width: 600px;
	margin: 0 auto;
    }
    .topmenu_aside {
	transform: translateX(-105%);
    }
}

@media (max-width: 1150px) {
    .topmenu_aside {
	transform: translateY(-120%);
    }
}

body {
    font-family: Georgia, serif;
}

pre {
    padding: 2px 2px 2px 1em;
    word-wrap: break-word;
}

.img-responsive {
    max-width: 100%;
    height: auto;
}
