<!-- -*-html-*- -->

<!-- a name of the blog, a button for a sidebar1 -->
<header class="jekyllmk-header">
  <div><button (click)="sidebar1_toggle()">&Xi;</button></div>

  <!-- a title points to the default route -->
  <h1><a [routerLink]="['LastN']">{{ ns?.data?.config?.title }}</a></h1>
</header>

<!-- an on-board diagnostics; it's hidden unless there are some error
user should be aware of -->
<obd></obd>

<!-- a calendar, a tags list -->
<sidebar1></sidebar1>

<!-- a required angular2 staff, don't remove -->
<router-outlet></router-outlet>

<!-- a place for an inspiration quote & a fax number -->
<footer class="jekyllmk-footer">
  <p>
    This is no time to bite the bullet with our synchronised
    incremental paradigm shifts.
  </p>
</footer>
