<!-- -*-html-*- -->

<!-- a custom optional header from `local.header.html` -->
<div class="jekyllmk-header__local" [innerHTML]="header"></div>

<!-- a name of the blog, a button for a sidebar1 -->
<header class="jekyllmk-header">
  <div><button (click)="sidebar1_toggle()">&Xi;</button></div>

  <!-- a title points to the default route -->
  <h1><a [routerLink]="['LastN']">{{ ns?.data?.config?.title }}</a></h1>
</header>

<div id="jekyllmk-container">

  <!-- a calendar, a tags list -->
  <div id="jekyllmk-container__sidebar1"
       [class.jekyllmk-sidebar1--expanded]="ns.sidebar1_expanded">
    <sidebar1></sidebar1>
  </div>

  <div id="jekyllmk-container__body">
    <!-- an on-board diagnostics; it's hidden unless there are some
    error user should be aware of -->
    <obd></obd>

    <!-- a required angular2 staff, don't remove -->
    <router-outlet></router-outlet>

  </div>
</div>

<!-- a custom optional header from `local.footer.html` -->
<footer class="jekyllmk-footer" [innerHTML]="footer"></footer>
