<!-- -*-html-*- -->

<header class="my-main-header">
  <div><button (click)="nav_toggle()">&Xi;</button></div>
  <h1><a [routerLink]="['LastN']">{{ ns?.data?.config?.title }}</a></h1>
</header>

<div id="obd" *ngIf="obd.err.text">{{obd.err.text}}</div>

<topmenu></topmenu>

<router-outlet></router-outlet>

<footer class="my-main-footer">
  <p>
    This is no time to bite the bullet with our synchronised
    incremental paradigm shifts.
  </p>
</footer>
