<!-- -*-html-*- -->

<nav class="my-nav my-nav_aside">
  <h2>Archive</h2>

  <ul class="my-nav-menu">
    <li *ngFor="#year of data?.cal">
      <span (click)="toggle_view($event)" class="my-nav-menu-collapsed">
	{{ year.year }}
      </span>

      <ul class="my-nav-menu my-nav-menu_items-collapsed">
	<li *ngFor="#month of year.months">
	  <span (click)="toggle_view($event)"
		class="my-nav-menu-collapsed">
	    {{ month.month }}
	  </span>

	  <ul class="my-nav-menu_items-collapsed">
	    <li *ngFor="#post of month.posts">
	      <a [routerLink]="['Post', {year: post.y, month: post.m, day: post.d, name: post.n } ]">
		{{ post.s }}
	      </a>
	    </li>
	  </ul>

	</li>
      </ul>

    </li>
  </ul>

  <h2>Authors</h2>
  <ul>
    <li *ngFor="#idx of data?.index?.authors">{{ idx.name }} ({{ idx.count }})</li>
  </ul>
</nav>
