<!-- -*-html-*- -->

<!-- next/prev arrows -->
<post-nav></post-nav>

<article class="jekyllmk-post" *ngIf="data">
  <header>
    <h2>{{ data?.subject }}</h2>
    <p>
      <post-tags-list [src]="data?.authors"></post-tags-list>
      <br>
      <time>
	{{ params.year }}-{{ params.month }}-{{ params.day }}
	{{ data?.time }}
      </time>
    </p>
  </header>

  <section>
    <p [innerHTML]="data?.body"></p>
  </section>

  <footer>
    <p>
      Tags:
      <post-tags-list [src]="data?.tags"></post-tags-list>
      <br>
      <a href="{{ data?.url_src }}" target="_blank">Source</a>
    </p>
  </footer>

</article>
