<!-- -*-html-*- -->

<nav class="my-article-nav">
  <a [class.hidden]="!post_prev"
     href="{{ post_prev?.url }}" title="{{ post_prev?.subject }}">←</a>
  <a [class.hidden]="!post_next"
     href="{{ post_next?.url }}" title="{{ post_next?.subject }}">→</a>
</nav>

<article class="my-article">
  <header>
    <h2>{{ data?.subject }}</h2>
    <p>
      Authors: {{ data?.authors?.join(", ") }}<br>
      <time>
	{{ params.year }}-{{ params.month }}-{{ params.day }}
	{{ data?.time }}
      </time>
    </p>
  </header>

  <section>
      <p [innerHTML]="data?.body"></p>
  </section>

  <footer>
    <p>
      Tags: {{ data?.tags?.join(", ") }}<br>
      <a href="{{ data?.url_src }}" target="_blank">Source</a>
    </p>
  </footer>

</article>
