<!-- -*-html-*- -->

<nav>

  <aboutLink></aboutLink>

  <h2>Archive</h2>

  <treeview [src]="ns?.data?.cal"
	    [selected]="ns?.curpost"
	    [parent]="parent"
	    [node_print]="node_print"
	    [node_click]="node_click">
  </treeview>

  <p>
    <a *ngIf="ns?.data?.config?.fts" routerLink="search">&clubs; Search</a>
  </p>

  <h2>Authors</h2>
  <tagsList [src]="ns?.data?.index?.authors"></tagsList>

  <h2>Tags</h2>
  <tagsList [src]="ns?.data?.index?.tags"></tagsList>

</nav>
