<!-- -*-html-*- -->

<nav class="jekyllmk-sidebar1" [class.jekyllmk-sidebar1--aside]="ns.sidebar1_aside">
  <div *ngIf="ns?.about">
    <p>
      <a [routerLink]="['Page', {name: ns?.about?.n}]"
	 [class.selected]="ns?.about?.n == ns?.curpage">
	{{ ns?.about?.s }}
      </a>
    </p>
  </div>

  <!-- TODO: move to a separate directive -->
  <h2>Archive</h2>

  <ul class="jekyllmk-sidebar1-tree">
    <li *ngFor="#year of ns?.data?.cal?.kids">
      <span (click)="toggle_view($event)"
	    class="{{ plus_or_minus(year) }}">
      </span>
      {{ year.name }}

      <ul class="jekyllmk-sidebar1-tree"
	  [class.jekyllmk-sidebar1__tree_node--collapsed]="!ns?.curpost?.ascendant_of(year)">
	<li *ngFor="#month of year.kids">
	  <span (click)="toggle_view($event)"
		class="{{ plus_or_minus(month) }}">
	  </span>
	  {{ month.name }}

	  <ul [class.jekyllmk-sidebar1__tree_node--collapsed]="!ns?.curpost?.ascendant_of(month)">
	    <li *ngFor="#post of month.kids">
	      <a [routerLink]="['Post', {year: post.payload.y, month: post.payload.m, day: post.payload.d, name: post.payload.n }]"
		 [class.selected]="is_selected(post)">
		{{ post.payload.s }}
	      </a>
	    </li>
	  </ul>

	</li>
      </ul>

    </li>
  </ul>


  <h2>Authors</h2>
  <tagsList [src]="ns?.data?.index?.authors"></tagsList>

  <h2>Tags</h2>
  <tagsList [src]="ns?.data?.index?.tags"></tagsList>

</nav>
