<!-- -*-html-*- -->

<nav class="jekyllmk-sidebar1"
     [class.jekyllmk-sidebar1--aside]="ns.sidebar1_aside">

  <aboutLink></aboutLink>

  <h2>Archive</h2>

  <treeview [src]="ns?.data?.cal"
	    [selected]="ns?.curpost"
	    [parent]="parent"
	    [node_print]="node_print"
	    [node_click]="node_click">
  </treeview>

  <h2>Authors</h2>
  <tagsList [src]="ns?.data?.index?.authors"></tagsList>

  <h2>Tags</h2>
  <tagsList [src]="ns?.data?.index?.tags"></tagsList>

</nav>
