<!-- -*-html-*- -->

<h2>Tags Search</h2>

<form class="jekyllmk-tags-form" (ngSubmit)="on_submit()">
  <p>
    <label>

      Tags are separated by commas. A minus <code>-</code> before a
      tag name means <code>NOT</code>. For example:
      <code>Тарас Шевченко,-image</code> <br>

      <input type="text" spellCheck="false" required
	     [(ngModel)]="query" [ngModelOptions]="{standalone: true}">
    </label>

    <input type="submit">
  </p>
</form>

<p *ngIf="result.length == 0">
  No match.
</p>

<p *ngIf="result.length != 0">
  Matched: {{ result.length }} post(s).
</p>

<ul>
 <li *ngFor="let idx of result">
   {{ ns.data.index.posts[idx].y }}/{{ ns.data.index.posts[idx].m }}/{{ ns.data.index.posts[idx].d }}
   <a [routerLink]="['', ns.data.index.posts[idx].y, ns.data.index.posts[idx].m, ns.data.index.posts[idx].d, ns.data.index.posts[idx].n]">
     {{ ns.data.index.posts[idx].s }}
   </a>
  </li>
</ul>
