<!-- -*-html-*- -->

<nav class="topmenu" [class.topmenu_aside]="ns.aside">
  <h2>Archive</h2>

  <ul class="topmenu-tree">
    <li *ngFor="#year of ns?.data?.cal?.kids">
      <span (click)="toggle_view($event)"
	    class="{{ plus_or_minus(year) }}">
      </span>
      {{ year.name }}

      <ul class="topmenu-tree"
	  [class.topmenu-tree_node-collapsed]="!is_year_match(year)">
	<li *ngFor="#month of year.kids">
	  <span (click)="toggle_view($event)"
		class="{{ plus_or_minus(year, month) }}">
	  </span>
	  {{ month.name }}

	  <ul [class.topmenu-tree_node-collapsed]="!is_month_match(year, month)">
	    <li *ngFor="#post of month.kids">
	      <a [routerLink]="['Post', {year: post.payload.y, month: post.payload.m, day: post.payload.d, name: post.payload.n }]"
		 [class.selected]="is_selected(post)">
		{{ post.payload.s }}
	      </a>
	    </li>
	  </ul>

	</li>
      </ul>

    </li>
  </ul>


  <h2>Authors</h2>
  <ul>
    <li *ngFor="#idx of ns?.data?.index?.authors">{{ idx.name }} ({{ idx.count }})</li>
  </ul>
</nav>
